<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255238314976-8ouov7lpr3akkjo4n5p4aensnanut5uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255238314976-8ouov7lpr3akkjo4n5p4aensnanut5uv</string>
	<key>API_KEY</key>
	<string>AIzaSyBF0NOAPdnCyqhhZV7NSpUehM4bBZbgCBA</string>
	<key>GCM_SENDER_ID</key>
	<string>255238314976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pick.technovierapp</string>
	<key>PROJECT_ID</key>
	<string>pick-aa5e2</string>
	<key>STORAGE_BUCKET</key>
	<string>pick-aa5e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255238314976:ios:815f15188959577553e985</string>
	<key>DATABASE_URL</key>
	<string>https://pick-aa5e2.firebaseio.com</string>
</dict>
</plist>